body {
    color: rgb(77, 72, 72);
    background: rgb(199, 13, 147, 1);
    margin: 0px;
    font-family: "Freckle Face", serif;
}

header {
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: black;
}